@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px;
    gap: 8.59vw;
    width: 100%;
    height: 53vw;
    left: 0px;
    background: #F8F9FF;
    border-radius: 0px;
}
.subheader{
    width: 51.32vw;
    margin-left: 5.1vw;
}
.title{
    width: 51.32vw;
    height: 20vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 5.1vw;
    line-height: 130%;
    letter-spacing: -0.025em;
    color: #2D2D2D;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 0px;
}
.header p{
    width: 51.32vw;
    height: 9vw;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.19vw;
    line-height: 120%;
    color: #2D2D2D;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 0px;
}
.header button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2vw 3.9vw;
    height: 4.5vw;
    background: #1239FA;
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25vw;
    line-height: 24px;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    margin-right: 0.625vw;
}
.containerButtons{
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
    margin-left: 0px;
}
.containerButtonsImage{
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-between;
    margin-left: 0px; */
}
.app{
    border-radius: 20px;
    margin-right: 0.625vw;
}
.phone{
    filter: drop-shadow(11px 15px 45px rgba(0, 0, 0, 0.2));
}

@media (max-width: 1112px) {
    .containerButtonsImage{
        /* display: flex;
        flex-direction: row-reverse;
        justify-content:flex-start;
        margin-left: 0px; */
        /* Ajustar los botones porque se salen */
    }
    .app{
        border-radius: 10px;
        width:14.23vw;
        height:4.5vw;
    }
    .phone{
        width: 26.02vw;
        height: 45.06vw;
    }
}

@media (max-width: 450px) {
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 250vw;
    }
    .subheader{
        width: 95vw;
        align-items: center;
        margin: auto;
    }
    .title{
        width: 84vw;
        font-size: 10vw;
        margin: 4vw auto;
        height: 40vw;
        text-align: center;
    }
    .header p{
        width: 84vw;
        height: 9vw;
        font-size: 4.27vw;
        margin: 0 auto 2.58vw;
        height: 21vw;
        text-align: center;
    }
    .header button{
        padding: 7vw 13.3vw;
        height: 4.5vw;
        font-size: 4.27vw;
        line-height: 24px;
        margin: 1.29vw auto 1.28vw;
    }
    .containerButtons{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-left: 0px;
    }
    .containerButtonsImage{
        display: flex;
        flex-direction: row-reverse;
        justify-content:center;
        padding: 1vw 2vw;
    }
    .app{
        border-radius: 10px;
        width:31.47vw;
        height:9.1vw;
    }
    .phone{
        width: 79.15vw;
        height: 121.87vw;
    }
}   