.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px ;
    border: solid black 1px;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    margin: 2rem;
    float:center;
    box-shadow: rgba(7, 7, 7, 0.322) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(64, 10, 10, 0.35) 0px -2px 6px 0px inset;   
    border-radius: 20px;
}

.content h1 {
        font-size: 1.5em;
        margin: 0 0 .3em;
        color: hsl(0, 0%, 0%);  
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.1rem;
        text-align: left;
        margin-top: 0px;
        margin-left: 0px;
}
