@font-face {
    font-family: 'Poppins';
    src: url('../../googleFonts/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.featureContent{
    width: 100%;
    height: auto;
    background: #F8F9FF;
    margin-bottom: 5.3vw;
}
.featureContent h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
    margin-top: 77px;
    text-align: center;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 7.34vw;
    margin-top: 10.56vw;
}
.cardContent{
    box-sizing: border-box;
    width: 25vw;
    height: 24vw;
    /* background: #FFFFFF; */
    /* border: 1px solid #1239FA; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    margin-right: 4.9vw;
}
.myImage{
   width: 25vw;
   height: 25vw; 
}
.content2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5.86vw;
    margin-top: 2.4vw;
}
.cardContent2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 2.34vw;
    gap: 2.34vw;
    width: 27.89vw;
    height: 22.2vw;
    background: #FFFFFF;
    border: 1px solid #1D2FFA;
    box-shadow: 34.8541px 29.626px 48.34px rgba(18, 57, 250, 0.05);
    border-radius: 20px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-right: 2.34vw;
}
.cardContent2 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2.19vw;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #2D2D2D;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    margin: auto;
    margin-top: 0.375vw;
}
@media (max-width: 530px) {
    .featureContent{
        height: auto;
    }
    .featureContent h1{
        margin-top: 60px;
    }
}
@media (max-width: 450px) {
    .featureContent{
        height: auto;
    }
    .featureContent h1{
        margin-top: 60px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12.06vw;
    }
    .content{ 
        /* No mostrarlo  */
        display:none
    }
    .cardContent{
        /* No mostrarlo  */
        display:none
    }
    .content2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
        margin-top: 0;
    }
    .cardContent2{
        padding: 3.55vw 8vw;
        gap: 0;
        width: 84vw;
        height: auto;
        margin: 6.2vw;
    }
    .cardContent2 p{
        font-size: 7.47vw; 
        margin: 0;
        margin-top: 0;
    }
}